.header {
	text-align: center;
	font-size: 36px;
	color: #fff;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: lightgray;
	padding-bottom: 20px;
	&_title {
		margin: 10px 0;
	}
	&_nav {
		display: flex;
		justify-content: center;
		list-style: none;
	}
}

.btn {
	margin: 4px;
	width: 130px;
	height: 45px;
	font-size: 24px;
	position: relative;
	overflow: hidden;
	transition: background 400ms;
	background-color: #fff;
	outline: 0;
	border: 0;
	border-radius: 0.25rem;
	cursor: pointer;
	&_ripple {
		background-position: center;
		transition: background 0.8s;
	}
	&_ripple:hover {
		background: lightgray radial-gradient(circle, transparent 1%, gray 1%)
			center/15000%;
	}
	&_ripple:active {
		background-color: darkgray;
		background-size: 100%;
		transition: background 0s;
	}
}

.edit {
	width: 40px;
}
.container {
	max-width: 1200px;
	padding: 16px;
	margin: 0 auto;
}
